// Mobile First upto 543px
.f-grid {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-content: center;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  flex-direction: row;
  flex-wrap: wrap;
  font-family: 'Proxima', 'Arial', sans-serif;
  letter-spacing: 0.06em;
  background-color: #F2F5FA;

  @include breakpoint("tablet-port") {
    
  }
  
  @include breakpoint("tablet-land") {
    
  }
  
  @include breakpoint("desktop") {
    border: none;
  }
  
  @include breakpoint("wide") {
    
  }
  
  &--flip {
    flex-direction: row-reverse;
  }

  &__cell {
    flex: 1 0 100%;

    &--qtr, &--third, &--half, &--full {
      flex: 1 0 100%;
    }

    &--qtr, {
      @include breakpoint("tablet-port") {
        
      }
      
      @include breakpoint("tablet-land") {
        
      }
      
      @include breakpoint("desktop") {
        flex: 1 0 25%;
      }
      
      @include breakpoint("wide") {
        
      }
    }

    &--third {
      @include breakpoint("tablet-port") {
        
      }
      
      @include breakpoint("tablet-land") {
        
      }
      
      @include breakpoint("desktop") {
        flex: 1 0 33.334%;
      }
      
      @include breakpoint("wide") {
        
      }
    }

    &--half {
      @include breakpoint("tablet-port") {
        
      }
      
      @include breakpoint("tablet-land") {
        
      }
      
      @include breakpoint("desktop") {
        flex: 1 0 50%;
        min-height: calc((50vw/16)*9);
      }
      
      @include breakpoint("wide") {
        
      }
    }

    &--full {
      @include breakpoint("tablet-port") {
        
      }
      
      @include breakpoint("tablet-land") {
        
      }
      
      @include breakpoint("desktop") {
        flex: 1 0 100%;
      }
      
      @include breakpoint("wide") {
        
      }
    }

    &--img {
      min-height: calc((100vw / 16) * 16);
      opacity: 0;
      transition: $trans-fast;

      @include breakpoint("tablet-port") {
        
      }
      
      @include breakpoint("tablet-land") {
        
      }
      
      @include breakpoint("desktop") {
        min-height: 0;
      }
      
      @include breakpoint("wide") {
        
      }

      &.reveal {
        opacity: 1;
      }
    }
    
    &__inner {
      padding: 3em 2em;

      @include breakpoint("tablet-port") {
        padding: 3em;
      }
      
      @include breakpoint("tablet-land") {
      }
      
      @include breakpoint("desktop") {
      }
      
      @include breakpoint("wide") {
        padding: 5em;
      }      

      &.no-pad {
        padding: 0;
      }
    }
  }

  &__heading {
    font-family: 'proxima-bold', 'Arial', sans-serif;
    font-size: 1.382em;

    @include breakpoint("tablet-port") {
      font-size: 1.7em;
    }
    
    @include breakpoint("tablet-land") {
      font-size: 2em;
    }
    
    @include breakpoint("desktop") {
      font-size: 2.1em;
    }
    
    @include breakpoint("wide") {
      font-size: 3.1em;
    }
  }

  &__copy {
    font-size: 0.875em;
    line-height: 1.382;

    @include breakpoint("tablet-port") {
      font-size: 1em; 
    }
  }
}