// Mobile First upto 543px

.gl-introduction {
    display: flex;

    &__inner {
        padding: 3em 2em;

        @include breakpoint("tablet-port") {
            padding: 3em;
        }
        
        @include breakpoint("tablet-land") {
            padding: 5em 7em;
        }
        
        @include breakpoint("desktop") {
            padding: 7em 10em;
        }
        
        @include breakpoint("wide") {
            padding: 9em 26em;
        }

        & h1, h4, p, strong {
            margin: 0 0 1rem;
        }

        & h1 {
            font-family: 'proxima-bold', 'Arial', sans-serif;

            @include breakpoint("tablet-port") {
                font-size: 1.7em;
            }
            
            @include breakpoint("tablet-land") {
                font-size: 2em;
            }
            
            @include breakpoint("desktop") {
                font-size: 2.5em;
            }
            
            @include breakpoint("wide") {
                font-size: 3.1em;
            }
        }

        & p {
            font-size: 0.875em;
            line-height: 1.382;

            @include breakpoint("tablet-port") {
                font-size: 1em;
            }
            
            @include breakpoint("tablet-land") {
                font-size: 1.14em;
            }
        }
    }
}
