:target:before {
	content: "";
	display: block;
	height: $navbar-height;
	margin: -$navbar-height 0 0;
}

.no-pad {
    padding-left: 0;
    padding-right: 0;
}

.no-left {
    padding-left: 0;
}

.no-right {
	padding-right: 0;
}

.no-select {
    user-select: none;
}

.skip {
	position: absolute;
	left: -9999px;
}

.title-bar {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 4em;
	border-top: 1px solid rgba(0, 0, 0, 0.15);
	border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.title-bar > p {
	margin: 0;
}

// smaller 554px to 767px
@media screen and (min-width: 34em) {
	
}


// between 768x to 991px
@media screen and (min-width: 48em) {
	
}


// between 992px to 1199px
@media screen and (min-width: 62em) {
	
}


// between 1200px to 1595px
@media screen and (min-width: 75em) {
	
}


// greater than 1596px
@media screen and (min-width: 100em) {
	
}