.alert {
	border-radius: 0;
	padding: 1.618em;
	margin: 1.618em 0;
}

.alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebcccc;
}

.alert-success {
	color: #3c763d;
    background-color: #dff0d8;
    border-color: #d0e9c6;
}