.scene {
    &__element {
        animation-duration: 0.25s;
        transition-timing-function: ease-in;
        animation-fill-mode: both;

        &--fadeIn {
            animation-name: fadeIn;
        }

        &--fadeInUp {
            animation-name: fadeInUp;
        }

        &--fadeInDown {
            animation-name: fadeInDown;
        }

        &--fadeInRight{
            animation-name: fadeInRight;
        }

        &--fadeInLeft {
            animation-name: fadeInLeft;
        }
    }

    &.is-existing {
        & .scene__element {
            animation-direction: reverse;
        }
    }
}