// smallest upto 544px
.flex-row {
    display: block;
}

.flex-col {
    flex: 1;
}

.flex-col-50 {
	flex: 50%;
}

// smaller 554px to 767px
@media (min-width: 34em) {
    
}

// small 768px to 991px
@media (min-width: 48em) {
    .flex-row {
		display: flex;
	}
}

// medium 992px to 1199px
@media (min-width: 62em) {
    
}

// large 1200px to 1595px
@media (min-width: 75em) {

}

// larger 1596 and above
@media (min-width: 100em) {

}