// Theme global colours
$t: transparent;
$white: #ffffff;
$bg: #f4f4f4;
$xlgt: #f2f2f2;
$lgt: #e4e4e4;
$med: #b9b9b9;
$dark: #777779;
$xdark: #232425;
$black: #323232;
$accred: #e7273a;
$accgold: #c8a559;

$color-1: #0b5b93;
$color-2: #bcbec0;
$color-3: #073d64;
$color-4: #85B0CC;