$root: 5;
$hand-nav-height: $root * 1em;
$port-nav-height: ($root + 1) * 1em;
$land-nav-height: ($root + 2) * 1em;
$desk-nav-height: ($root + 3) * 1em;
$wide-nav-height: ($root + 4) * 1em;
$hamburger-color: $black;