.shell__body, .shell__header {
    position: relative;
    transition: transform 0.3s;
    transform: translateZ(0);
    will-change: transform;
}

.shell__header {
    z-index: 3;

    @include breakpoint("tablet-port") {
        
    }
    
    @include breakpoint("tablet-land") {
        
    }
    
    @include breakpoint("wide") {
        
    }

    &__toggles {
        display: inline-flex;
    }

    &__toggle-search, &__toggle-menu {
        width: 50px;

        @include breakpoint("tablet-port") {
            
        }
        
        @include breakpoint("tablet-land") {
            
        }
        
        @include breakpoint("desktop") {
            width: 80px;            
        }
        
        @include breakpoint("wide") {
            
        }
    }

    &__toggle-search, &__toggle-menu {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__toggle-search .shell__header-toggle::before {
        top: 5;
        left: 5;
        display: block;
        width: 13px;
        height: 13px;
        border-radius: 50%;
        border: 3px solid black;
    }
    
    &__toggle-search .shell__header-toggle::after {
        bottom: 7px;
        right: 5px;
        display: block;
        width: 8px;
        height: 3px;
        background: black;
        transform: rotate(45deg);
    }

    &__toggle-menu {
        @include breakpoint("tablet-port") {
            
        }
        
        @include breakpoint("tablet-land") {
            
        }
        
        @include breakpoint("desktop") {
            display: none;            
        }
        
        @include breakpoint("wide") {

        }
    }
    
    &__toggle-menu .shell__header-toggle span {
        position:absolute;
        top: 50%;
        margin-top: -1.5px;
        transition: background 0.3s 0.3s;
    }
    
    &__toggle-menu .shell__header-toggle span::before {
        top: -0.3em;
    }
    
    &__toggle-menu .shell__header-toggle span,
    &__toggle-menu .shell__header-toggle span::before, 
    &__toggle-menu .shell__header-toggle span::after {
        content: '';
        position: absolute;
        display: inline-block;
        width: 1em;
        height: 3px;
        background: black;
    }
    
    &__toggle-menu .shell__header-toggle span::after {
        top: 0.35em;
    }

    &-toggle {
        position: relative;
        display: flex;
        width: 2em;
        height: 2em;
        overflow: hidden;
        white-space:  nowrap;
        color: transparent;
        z-index:  3;

        &::before,
        &::after {
            content: '';
            position: absolute;
            backface-visibility: hidden;
        }
    }
}