.shell__foot {
    background-color: $black;

    p {
        color: $white;
    }

    &__link {
        color: $white;

        &:visited, &:focus, &:hover {
            color: $white;
        }
    }

    &__copyright {
        & p {
            color: $white;
            color: rgba($white, 0.62);
        }
    }
}