@supports(display: grid) {
    .shell {
        display: grid;
        grid-template-areas: "head" "body" "foot";
        grid-template-columns: 1fr;
        grid-template-rows: $hand-nav-height 1fr inherit;
        background-color: white;

        &--max {
            max-width: map-get($breakpoints, $wide);
            margin: 0 auto;
        }

        /* Header */
        &__header {
            grid-area: head;
            display: grid;
            grid-template-areas: "logo . toggle";
            grid-template-columns: 10em 1fr auto;
            grid-template-rows: 50px;

            @include breakpoint("tablet-port") {
                
            }
            
            @include breakpoint("tablet-land") {
                
            }
            
            @include breakpoint("desktop") {
                grid-template-rows: 80px;

            }
            
            @include breakpoint("wide") {
                
            }

            &-brand, &-toggle {
                display: flex;
                align-items: center;
            }

            &-brand {
                grid-area: logo;
                justify-content: flex-start;
            }

            &-toggle {
                justify-content: center;
            }

            &__toggles {
                grid-area: toggle;
                justify-content: center;
            }

            &-nav {
                grid-area: menu;
                display: flex;
                justify-content: center;
                align-items: center;

                &--hide {
                    display: none;
                }
            }
        }

        // Body section of the layout
        &__body {
           grid-area: body;

           @include breakpoint("tablet-port") {
               
           }
           
           @include breakpoint("tablet-land") {
               
           }
           
           @include breakpoint("desktop") {
               
           }
           
           @include breakpoint("wide") {
               
           }
        }


        /* footer */
        &__footer {
            grid-area: foot;
            display: grid;
            grid-template-areas: "logo logo" "tag tag" "ethos ethos" "locale contact" "recent social";
            grid-template-columns: 50% 50%;
            grid-template-rows: 5em 1.382em auto;

            & [class*='__list'], .shell__footer [class*='-locale'] {
                line-height: 2em;
            }

            &-brand {
                grid-area: logo;
                display: flex;
                justify-content: flex-start;
                align-items: center;
            }

            &-tagline {
                grid-area: tag;
                display: flex;
                justify-content: flex-start;
                align-items: flex-start;
            }

            &-ethos {
                grid-area: ethos;
                display: grid;
                grid-template-areas: "statement" "email";
                grid-template-columns: 1fr;
                grid-template-rows: auto auto;

                &__heading {
                    grid-area: statement;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                &__email {
                    grid-area: email;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                }

                &-locale {
                    grid-area: locale;
                    display: flex;
                    justify-content: flex-start;
                    align-items: flex-start;
                }

                &-contact {
                    grid-area: contact;
                    display: flex;
                    justify-content: flex-start;
                    align-items: flex-start;
                }

                &-recent {
                    grid-area: recent;
                    display: flex;
                    justify-content: flex-start;
                    align-items: flex-start;
                }

                &-social {
                    grid-area: social;
                    display: flex;
                    justify-content: flex-start;
                    align-items: flex-start;
                }
            }
        }
    }
}