@supports(display: grid) {
    .shell {
        display: grid;
        grid-template-areas: "head" "body" "foot";
        grid-template-columns: 1fr;
        grid-template-rows: $hand-nav-height 1fr inherit;
        background-color: white;

        &--max {
            max-width: map-get($breakpoints, $wide);
            margin: 0 auto;
        }

        /* Header */
        &__header {
            grid-area: head;
            display: grid;
            grid-template-areas: "logo . toggle" "menu menu menu";
            grid-template-columns: 1fr auto 5em;
            grid-template-rows: auto;
            
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);
            padding: 0.5em;

            &-brand, &-toggle {
                display: flex;
                align-items: center;
            }

            &-brand {
                grid-area: logo;
                justify-content: flex-start;
            }

            &-toggle {
                grid-area: toggle;
                justify-content: center;
                
                min-height: 5em;
            }

            &-nav {
                grid-area: menu;
                display: flex;
                justify-content: center;
                align-items: center;

                &--hide {
                    display: none;
                }
            }
        }

        // Body section of the layout
        &__body {
           grid-area: body;

           @include breakpoint("tablet-port") {
               
           }
           
           @include breakpoint("tablet-land") {
               
           }
           
           @include breakpoint("desktop") {
               
           }
           
           @include breakpoint("wide") {
               
           }
        }


        /* footer */
        &__footer {
            grid-area: foot;
            display: grid;
            grid-template-areas: "logo logo" "tag tag" "ethos ethos" "locale contact" "recent social";
            grid-template-columns: 50% 50%;
            grid-template-rows: 5em 1.382em auto;
            
            font-size: 0.875rem;
            padding: 0.5em;

            & [class*='__list'], .shell__footer [class*='-locale'] {
                line-height: 2em;
            }

            & a {
                color: black;
            }

            &-brand {
                grid-area: logo;
                display: flex;
                justify-content: flex-start;
                align-items: center;
            }

            &-tagline {
                grid-area: tag;
                display: flex;
                justify-content: flex-start;
                align-items: flex-start;
            }

            &-ethos {
                grid-area: ethos;
                display: grid;
                grid-template-areas: "statement" "email";
                grid-template-columns: 1fr;
                grid-template-rows: auto auto;

                &__heading {
                    grid-area: statement;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    
                    padding-top: 1em;
                }

                &__email {
                    grid-area: email;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    
                    margin-top: 0.5em;
                    padding-bottom: 2em;
                }

                &-locale {
                    grid-area: locale;
                    display: flex;
                    justify-content: flex-start;
                    align-items: flex-start;
                    
                    padding-bottom: 1em;
                    font-style: normal;
                }

                &-contact {
                    grid-area: contact;
                    display: flex;
                    justify-content: flex-start;
                    align-items: flex-start;
                }

                &-recent {
                    grid-area: recent;
                    display: flex;
                    justify-content: flex-start;
                    align-items: flex-start;
                    padding-bottom: 1.382em;
                }

                &-social {
                    grid-area: social;
                    display: flex;
                    justify-content: flex-start;
                    align-items: flex-start;
                }
            }
        }
    }
}