.shell__foot {
    background-color: $color-1;
    border-top: 1px solid rgba($white, 0.38);

    p {
        color: white;
    }

    &__link {
        color: white;

        &:visited, &:focus, &:hover {
            color: white;
        }
    }

    &__copyright {
        & p {
            color: white;
            color: rgba(white, 0.62);
        }
    }
}